.jumbotron-heading {
    font-size: 1.8rem;
}

section.jumbotron p {
    color: white;
    font-size: 0.8rem;
}
section.jumbotron h5 {
    color: white;
    font-size: 1.1rem;
}
section.jumbotron h4 {
    color: white;
    font-weight: 400;
}
section.jumbotron h5 a {
    color: white;
}
section.jumbotron p {
    color: white;
}

.jumbotron {
    background-color: #007bff;
}

.jumbotron-heading {
    color: white;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.flex {
	display: flex;
}

.col-seven {
    width:14.285%;
    float:left;
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
  }

h1 {
  /* Extra small devices (phones, less than 768px) */
  font-size: 2rem;
}